@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f4f6;
    --foreground: #f3f4f6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.apexcharts-menu {
  background-color: #1c1c1c !important;
  border: 1px solid #444 !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) !important;
}

/* Menu items text */
.apexcharts-menu-item {
  color: #ffffff !important;
}

/* Hover effect */
.apexcharts-menu-item:hover {
  background-color: #333 !important;
}